<body class="text-center" style="" data-new-gr-c-s-check-loaded="14.1049.0" data-gr-ext-installed="">
    <br>
    <h1><i>No Page Found!</i></h1>
    <br>
    <h4>Go back to <%= link_to "HomePage", root_path %></h4>
</body>



