<div id="<%= dom_id enrollment %>">
  <p>
    <strong>Studentid:</strong>
    <%= enrollment.studentid %>
  </p>

  <p>
    <strong>Courseid:</strong>
    <%= enrollment.courseid %>
  </p>

  <p>
    <strong>Enrollmentstatus:</strong>
    <%= enrollment.enrollmentstatus %>
  </p>

</div>
